:root{
  --orange :#dd7134;
  --brown:#2a2121;
}
/*basic css reset */
*,
*:before, 
*:after{
  box-sizing :border-box ;
  margin :0 ;
  padding: 0;
}
body{
  background : black;
  font-family:'Raleway', sans-serif;
  overflow-x: hidden !important;
  scroll-behavior: smooth ;
}
.hide{display:none;}
a{
  text-decoration:none;
  cursor:pointer ;
}
/*header*/
header {
  background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.5)), url(../images/Headshot.svg) /*no-repeat center center fixed*/; 
  background-repeat: no-repeat ;
  background-position :center ;
  background-attachment:fixed ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position :relative ;
}
nav{
  background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.6));
  position :fixed!important ;
  z-index: 3 ;
}
h1{
  background :var(--orange);
  height :4.4375rem;
  padding-top :0.5546875rem;
  text-align :center ;
  width :4.9375rem;
}
.navbar-toggler{background :var(--orange);} 
.navbar-toggler:focus{
  border :1px solid white;
  outline :none ;
}
.navbar-toggler .fa-bars{font-size :1.5rem;}
.nav-link{font-weight: 500 ;}
.nav-link:hover{
  border-bottom: 0.5px solid #fff;
  color: var(--orange) !important;
}
.navbar ~ div h2 {
  color:white ;
  font-weight: 900 !important;
}
.text-orange{color:var(--orange);}
.profile {
  margin-top: 10rem;
  overflow-x: hidden !important;
}
.profile div hr{
  background :var(--orange);
  height :1.2px;
  vertical-align :center ;
}
.profile div p{position:relative ;}
.profile_summary{
  font-size :1.5rem ;
}
.profile_summary ~ p{
  font-size :0.875rem;
  line-height :1.1rem;
}
.profile_summary ~ a:hover, 
.profile_summary ~ a:visited{
  color:#fff ;
  text-decoration:none ;
}
#do{background :var(--brown);}
#do > div > span,
#projects > div > span{font-size :3.5rem ;}
#do > div > p, 
#projects > div > p{font-size: 1.5rem ;}
.do_box{
  background :#000;
  height: 17rem ;
}
.do_box div h4{font-size:1rem}
.do_box div p{font-size :0.85rem ;}
.do_box:hover{background :var(--orange);}

/*tab view*/
@media all and (min-width:48rem){
  header {
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.5));
  }
  .navbar-nav{margin-left: auto ;}
  .hide{display: block;}
  hr{display: none;}
}

/*animations*/
.pulsate-fwd{-webkit-animation:pulsate-fwd .5s ease-in-out infinite both;animation:pulsate-fwd .5s ease-in-out infinite both;}
@-webkit-keyframes pulsate-fwd{0%{-webkit-transform:scale(1);transform:scale(1)}50%{-webkit-transform:scale(1.1);transform:scale(1.1)}100%{-webkit-transform:scale(1);transform:scale(1)}}@keyframes pulsate-fwd{0%{-webkit-transform:scale(1);transform:scale(1)}50%{-webkit-transform:scale(1.1);transform:scale(1.1)}100%{-webkit-transform:scale(1);transform:scale(1)}}